@model QuanLyTiemChung.Web.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Đăng Nhập";
}

<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card">
             <div class="card-header">
                <h2 class="card-title text-center">@ViewData["Title"]</h2>
            </div>
            <div class="card-body">
                <section>
                    <form asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-check">
                            <input class="form-check-input" asp-for="RememberMe" />
                            <label class="form-check-label" asp-for="RememberMe"></label>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Đăng nhập</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}